# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# MacOS files
.DS_Store

# Other
*.bak
*.tmp
*.swp
